body{
    margin: 0px;
}

header{
    width: 100%;
    background-color: black;
    color: white;
    background-color: black;
    

}
header ul li{
    float: left;
}

#logo
{
    width: 20%;
    height: 100px;
    float: left;
}

#main
{
    width: 80%;
    height: 100px;
    float: left;
}


.content_1home{
    margin-top: 200px;
    width: 60%;
    margin: 0% 20%;
    padding-top: 170px;
}

.subcont1{
    background-color: aqua;
    border-radius: 20px;
}

#main{
    text-decoration: none;
}

#about{
    width: 100%;
    height: 400px;
}
header{
    width: 100%;
    background-color: black;
}
header ul li{
    list-style: none;
    text-transform: uppercase;
    float: left;
}

header ul li a{
    text-decoration: none;
    color: black;
}
ul{
    margin-left: 0;
    padding-left:0 ;
}

#logo{
    width: 20%;
    float: left;
}
#logo img{
    margin-left: 10px;
}
ul li{
    margin-left: 5rem;
}
#menu{
    margin-left: 3rem;
    width: 80%;
}

/* Home */
#home{
    width: 100%;
    text-align: center;
    background-image:url('/images/img2.jpg');
    background-repeat: no-repeat;
    height: 400px;
    background-size: 100% 100%;
}

#home h1{
    margin-top: 0;
}

.content_1home{
    margin-top: 200px;
    width: 60%;
    margin: 0 20%;
    padding-top: 170px;
}

.subcont1{
    background-color: rgb(225,104,134);
    border-radius: 20px;
}
.div_abt{
    width: 16%;
    background-color: brown;
    color: wheat;
    float: left;
    height: 300px;
    padding: 0 2%;

}

..div_abt img{
    padding-top: 15px;
    box-shadow: 5px 10px rgb(72, 4, 18);
}

#team{
    width: 100%;
    height: 500px;

}
.teamcont1{
    background-color: coral;
    height: 450px;
    padding-top: 50px;
}

.teamleft{
    margin-left: 4%;
    width: 26%;
    float: left;
    height: 250px;
    padding: 0 2%;
}

.teamright{
    margin-left: 2%;
    width: 60%;
    margin-right: 4%;
    float: left;
}

#contactcont1{
    width: 100%;
    height: 400px;

}
.contactcont1{
    width: 92%;
    margin: 0 4%;

}
.contactleft,.contactright{
    width: 50%;
    float: left;
}

input{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}

label{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

button{
    width: 100%;
    background-color: blueviolet;
    border: none;
    font-size: 22px;

    color: aqua;
}